@using NitroxCalculatorMaui.Class
@inherits LayoutComponentBase
<style>
    [data-bs-theme="light"] {
        --bs-body-bg: #f8f9fa; /* Light gray for light mode */
    }

    [data-bs-theme="dark"] {
        --bs-body-bg: #212529; /* Dark gray for dark mode */
    }
</style>
<div class="page">
	<div class="sidebar">
		<NavMenu />
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" id="darkModeToggle">
            <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
        </div>
	</div>

	<main>
		<article class="content px-4">
			@Body
		</article>
	</main>
</div>
<div class="form-check form-switch">
    <input class="form-check-input" type="checkbox" id="darkModeToggle">
    <label class="form-check-label" for="darkModeToggle">Dark Mode</label>
</div>
<script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const htmlElement = document.documentElement;
        const switchElement = document.getElementById('darkModeSwitch');

        // Set the default theme to dark if no setting is found in local storage
        const currentTheme = localStorage.getItem('bsTheme') || 'dark';
        htmlElement.setAttribute('data-bs-theme', currentTheme);
        switchElement.checked = currentTheme === 'dark';

        switchElement.addEventListener('change', function () {
            if (this.checked) {
                htmlElement.setAttribute('data-bs-theme', 'dark');
                localStorage.setItem('bsTheme', 'dark');
            } else {
                htmlElement.setAttribute('data-bs-theme', 'light');
                localStorage.setItem('bsTheme', 'light');
            }
        });
    });
</script>