@page "/"

<h1>Welcome to the Nitrox Calculator</h1>

<p>This software may generate incorrect results and should only be followed if you are trained in mixing gasses.  The author of this software is not liable for any damages or injuries related to the use of this software and any of the calculations it made.
    <br /><br /><b>ALL RESULTS ARE FOR REFERENCE ONLY AND USE AT YOUR OWN RISK!!!</b>
    <br /><br /> By continuing to use this calculator, you agree to these terms</p>
