@page "/nitroxcalculator"

<h1>Nitrox Calculator</h1>

<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Starting Pressure:</div><div class="col-sm-7 col-md-6"><input @bind="StartPressureProperty" class="fullWidth" min="0" type="number" /></div>
</div>
<div class="row">

    <div class="col-sm-4 col-lg-3 rightAlign">Maximum Oxygen Pressure:</div>
    <div class="col-sm-7 col-md-6"><input class="fullWidth" @bind="MaxO2PressureProperty" type="number" min="0"/></div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Starting Mix:</div><div class="col-sm-7 col-md-6"><input class="fullWidth" @bind="StartMixProperty" type="number" min="0" /> </div>
</div>
<br />
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Ending Pressure:</div><div class="col-sm-7 col-md-6"><input class="fullWidth" @bind="EndPressureProperty" type="number" min="0" /></div>
</div>
<div class="row">
    <div class="col-sm-4 col-lg-3 rightAlign">Ending Mix:</div><div class="col-sm-7 col-md-6"><input class="fullWidth" @bind="EndMixProperty" type="number" min="0" /> </div>
</div>
<br />
<button class="btn btn-primary" @onclick="CalculateMix">Calculate</button>
<button class="btn btn-secondary" @onclick="AirTopOff">Air Top Off</button>

<br />
<br />
<p>@output</p>
